.albums {
    height: 100vh;
    width: 100vw;
    background-color: #414042;
}

.available {
    color: white;
    margin-top: 30px;
    align-items: center;
    font-size: 36px;
}

.goBack {
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition-duration: 0.2s;
    width: 70px;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.goBack:hover {
    background-color: #666666;
    font-size: 15px;
    color: white;
}

.goBack:focus {
    outline: none;
}

.continue-album {
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition-duration: 0.2s;
    width: 100px;
    height: 40px;
    margin-left: 1350px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: fixed;
    bottom: 16px;
}

.continue-album:hover {
    background-color: #666666;
    font-size: 15px;
    color: white;
}

.show-button {
    background-color: rgb(88, 89, 91);
    width: 180px;
    height: 180px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 60px;
    margin-top: 60px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.2s;
}

.show-button:hover {
    background-color: rgb(59, 40, 204);
}

.show-button:focus {
    outline: none;
}

.show-content p {
    font-size: 16px;
    transition-duration: 0.4s;
    color: white;
}

.album-icon {
    width: 100px;
    height: 100px;
    align-self: center;
    padding-top: 8px;
    padding-bottom: 10px;
    transition-duration: 0.4s;
}

.albums-row {
    margin-left: 15px;
}