.background {
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/home.png");
    background-size: cover;
}

.homeButton {
    background-color: rgb(88, 89, 91);
    width: 200px;
    height: 210px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin:200px 200px 0 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.2s;
}

.content {
    display: flex;
    flex-direction: column;
}

.content p {
    color: rgb(242, 242, 242);
    font-size: 16px;
    transition-duration: 0.4s;
}

.icon {
    width: 64px;
    height: 64px;
    align-self: center;
    padding-bottom: 16px;
    transition-duration: 0.4s;
}

.button1 {
    margin-left: 450px;
}

.homeButton:focus {
    outline: none;
}

.homeButton:hover {
    background-color: rgb(59, 40, 204);
}

.homeButton:hover > .content p {
    font-size: 18px;
}