.playlist-info {
    height: 100vh;
    width: 100vw;
    background-color: #414042;
}

hr {
    margin-left: 60px;
    margin-right: 60px;
}

.main-playlist-info {
    color: white;
    margin-left: 60px;
}

.addSongs {
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition-duration: 0.2s;
    width: 130px;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.addSongs:hover {
    background-color: #666666;
    font-size: 14.5px;
    color: white;
}

.remove-music-button {
    border: none;
    border-radius: 50%;
    transition-duration: 0.2s;
    cursor: pointer;
    margin-left: 60px;
    margin-top: 24px;
    color: blue;
    font-size: 14px;
    font-weight: bold;
}

.remove-music-button:hover {
    background-color: rgba(88, 89, 91, 0.7);
}

.remove-music-button:focus {
    outline: none;
}

.update-song:hover {
    background-color: rgba(88, 89, 91, 0.3);
}